<a href="https://colab.research.google.com/github/thhaider/21CSS101JRA2211042010049/blob/main/RA211042010049.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print ("Hello Python")

Hello Python

In [ ]:
#USING COMMENTS IN PYTHON 
print("Hello, PYTHON!")

Hello, PYTHON!

In [ ]:
print("I", "Love", "Python")

I Love Python

In [ ]:
print("I"   "Love"   "Python")

ILovePython

In [ ]:
print("ABC" * 3);

ABCABCABC

In [ ]:
x ="Hello"
x = x + " Python"
print (x)

Hello Python

In [ ]:
x = ("Haider")
y = ("Shah")
print (x)
print (y)

Haider
Shah

In [ ]:
x = ("Haider")
y = ("Shah")
print ( x, y)

Haider Shah

In [ ]:
print("Haider\fShah")

HaiderShah

In [ ]:
print("Haider\tShah")

Haider	Shah

In [ ]:
print("Haider\nShah")

Haider
Shah

In [ ]:
print("\a")
# rings bell



In [ ]:
x = 1
y = 1j
z = 1.0
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'complex'>
<class 'float'>

In [ ]:
x = 211042010049
print(type(x))

<class 'int'>

In [ ]:
x = 22110420.49
print(type(x))

<class 'float'>

In [ ]:
x = 10e2
print(x)

1000.0

In [ ]:
x = 10e2
print(type(x))

<class 'float'>

In [ ]:
x = 5+10j
print(type(x))

<class 'complex'>

In [ ]:
x = int(1)
y = int(2.0)
z = int(2e2)
print(x)
print(y)
print(z)

1
2
200

In [ ]:
x = float(1)
y = float(2.0)
z = float(2e2)
print(x)
print(y)
print(z)

1.0
2.0
200.0

In [ ]:
x = str("hs7384")
y = str(2.0)
z = str(2e2)
print(x)
print(y)
print(z)

hs7384
2.0
200.0

In [ ]:
x = 33
y = 16
print(x+y)

49

Addition in Python

In [ ]:
x = 50
y = 1
print(x-y)

49

Subtraction in Pyhton

In [ ]:
x = 10
y = 10
print(x/y)

1.0

Division in Python

In [ ]:
x = 2
y = 4
print(x*y)

8

Multiplication in Python

In [ ]:
x = 4
y = 9
print(x%y)

4

Modulud in Python

In [ ]:
roll_no = 49
print(roll_no)

49

Using Assignment Operator

In [ ]:
Registration_number = "RA2211042010049"
print(Registration_number)

RA2211042010049

In [2]:
str = 'Welcome To Python World'
print(str)# will print output as follows  
#If single quote (') is part of the string, then the characters of the string are enclosed between double quotes(").

Welcome To Python World

Using single quotes (' ')

In [3]:
sentence =  "Welcome to Python's world"
print (sentence)
#If single quote (') is part of the string, and the characters are enclosed between single quotes, then a backslash (\) should be added before (') of the string.

Welcome to Python's world

In [4]:

sentence =  'Welcome to Python\'s world' # observe a backslash (\) before (')
print (sentence)
#The other way of having a single quote in the string content and enclosing the string within single quotes is using a backslash(\)

Welcome to Python's world

In [5]:
str = "Welcome to the world of Python"
print(str)

Welcome to the world of Python

Using double quotes (" ")

In [6]:
str = """Welcome to the world of Python
I love Python and Python is very easy to learn
Practice makes man perfect"""
print(str)
#We use triple double quotes(""" """) to create multi-line strings in Python.

Welcome to the world of Python
I love Python and Python is very easy to learn
Practice makes man perfect

Using triple double quotes(""" """)

In [7]:
str = '''Welcome to the world of Python
I love Python and Python is very easy to learn
Practice makes man perfect'''
print(str)
#We can also use triple single quotes(''' ''') to create multi-line strings in Python.

Welcome to the world of Python
I love Python and Python is very easy to learn
Practice makes man perfect